:root {
  --primary: #8c9aa9;
}

.btn {
  font-family: Oswald;
  padding: 8px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 18px;
  color: white;
  background-color: var(--primary);
}

.btn:hover {
  background-color: #5c6a79;
  transition: all 0.3s ease-out;
}
