@import-normalize;

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: Oswald, "Helvetica Neue", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
